* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserratt', sans-serif;
}

.app {
    background-color: white;
    background-size: cover;
    background-position: center;
    transition: 0.4s ease-out;
}

main {
    max-height: 90vh;
}

/* CitySearch Component */
.search-box {
    width: 75%;
    margin-left: 12.5%;
}

.search-box input {
    display: block;
    width: 100%;
    padding: 15px;

    appearance: none;
    background: none;
    border: none;
    outline: none;

    background-color: rgba(223, 221, 221, 0.897);
    border-radius: 0px 0px 16px 16px;

    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

    color: #202020;
    font-size: 20px;

    transition: 0.4s ease;
}

.search-box input:focus{
    background-color: rgba(255, 255, 255, 0.75);
}

.basicdata-container .location {
    color: black;
    font-size: 36px;
    font-weight: 700px;
    text-align: center;
    margin-top: 6vh;
}

.basicdata-container .date {
    text-align: center;
}

.basicdata-container .basicdata-container-two {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
    padding: 0 30px 0 30px;
}

.basicdata-container-two .temps-container {
    border-radius: 16px;
    padding: 40px;
    background-color: rgba(223, 221, 221, 0.589);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.current-temp {
    font-size: 40px;

}

.basicdata-container-two .temps-container .min-max {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.basicdata-container .weather-icon {
    height: 25vh;
}

footer img {
    height: 3rem;
}