@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
}

body {
    font-family: 'Comfortaa', cursive;
}

.app {
    background-color: rgba(255, 255, 255, 0);
    transition: 0.4s ease-out;
    max-height: 100vh;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: rgb(105, 156, 245);
}

/* CitySearch Component */
.search-box {
    /* border: 2px solid red; */
    width: 84vw;
    height: 7vh;
    margin-top: 0vh;
    padding-top: 2vh;
    margin-left: 8vw;
}

.search-box input {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;

    appearance: none;
    background: none;
    border: 2px solid rgba(0, 0, 0, 0.589);
    border-radius: 16px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    background-color: rgba(255, 255, 255, 0);

    color: #000000;
    font-size: 15px;

    transition: 0.4s ease;
}

.search-box input:focus{
    background-color: rgba(255, 255, 255, 0.705);
}

.basicdata-container {
    display: flex;
    flex-direction: column;
}

.basicdata-container .locationDate {
    margin-top: 5vh;
    margin-left: 10vw;
    width: 80vw;
    padding: 2vh;

    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.288);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.basicdata-container .location {
    color: black;
    font-size: 7vw;
    font-weight: 700px;
    text-align: center;
}

.basicdata-container .date {
    text-align: center;
    font-weight: 300;
}

.currentweathericon-container {
    display: flex;
    justify-content: center;
    max-height: 30vh;
}

.currentweathericon-container img {
    height: 38vh;
    overflow: hidden;
    margin-top: -3vh;
}


.basicdata-container .basicdata-container-two {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vh;
    padding: 0 8vw 0 8vw;
}

.basicdata-container-two .temps-container {
    border-radius: 16px;
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.current-temp {
    display: flex;
    align-items: flex-end;
    font-size: 70px;
    font-weight: 700;
}

.basicdata-container-two .temps-container .min-max {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
}

.max, .min {
    display: flex;
    justify-content: start;
    font-weight: 300;
    color: rgba(70, 70, 70, 0.815);
}

.max p, .min p {
    margin-left: .3em;
}

.divider {
    height: 0.5vh;
    width: 84vw;
    margin-top: .5vh;
    margin-left: 8vw;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
}

.detaileddata-container #weatherDescription {
    height: 4vh;
    margin-left: 8vw;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    color: black;
    font-size: 26px;
}

.detaileddata-container2 {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    margin-left: 8vw;
    margin-right: 8vw;
}

.detaileddata-container2 #wind, #humidity {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-width: 40vw;
    min-height: 10vh;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.288);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    text-align: center;
    line-height: 1.4em;
}

#bpLogo {
    position: fixed;
    bottom: 0;
    height: 1.5rem;
    margin-left: 45%;    
}